html {
  font-family: Helvetica;
  font-size: 14px;
  margin: 0;
}

.academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  margin-right: 24px;
}

.academy-container {
  display: inline-flex;
  text-align: left;
  align-items: center;
  margin-left: 24px;
  height: 32px;
}

.academy-container img {
  height: 45px;
}

.colmar-text {
  color:  #4d4d4d;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.academy-text {
  color:  #bfbfbf;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.academy-mobile {
  display: none;
}

.nav span {
  margin: 8px;
  font-family: sans-serif;
  font-weight: bold;
  color: #595959;
}
