html {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
}

.academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  margin-right: 24px;
}

.academy-container {
  display: inline-flex;
  text-align: left;
  align-items: center;
  margin-left: 24px;
  height: 32px;
}

.academy-container img {
  height: 45px;
}

.colmar-text {
  color:  #4d4d4d;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.academy-text {
  color:  #bfbfbf;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.academy-mobile {
  display: none;
}

.nav {
  display: inline-flex;
}

.nav span {
  margin: 8px;
  font-family: sans-serif;
}

.nav span a {
  text-decoration: none;
  font-weight: bold;
  color: #595959;
}

 /*Shifts Heading to Logos*/
@media only screen and (max-width: 768px ){
.academy-mobile{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 64px;
}
.academy{
  display: none;
}
}

 /*Learn Section Starts Here*/
.learn-section {
  font-family: sans-serif;
  background-color: #e6e6e6;
}

.learn-container {
  display: flex;
}

.text h1 {
  font-size: 3rem;
  font-family: sans-serif;
  color: #262626;
  padding-bottom: 16px;
  width: 100%;
}

.learn-section img {
  margin: 32px 40px 32px 24px;
  max-width: 60%;
  height: 550px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 100%;
}

.text h3 {
  padding-bottom: 16px;
  font-size: 1.2rem;
  color: #666666;
  width: 100%;
  font-family: sans-serif;
}

.text span {
  font-size: 1.6rem;
  font-weight: bold;
}

.button{
  background-color: #333333;
  color: white;
  width: 63%;
  text-align: center;
  padding: 8px 0;
}

.button:hover{
  background-color: #666666;
}

.learn-mobile{
  display: none;
}

/*Learn Section for Mobile*/
@media only screen and (max-width: 480px){

.learn-section {
  display: none;
}
.learn-mobile{
  display: flex;
  flex-direction: column;
  background-color: #e6e6e6;
}

.learn-mobile img{
  width: 100%;
  height: auto;
}

.text-mobile{
  display: flex;
  flex-direction: column;
  padding: 32px 0px 32px 16px;
}

.text-mobile h1 {
  color: #262626;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 130%;
  color: #262626;
  width: 80%;
}
.text-mobile h3{
  color: #666666;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 120%;
  margin-top: 32px;
  margin-bottom: 24px;
}

.text-mobile span {
  font-size: 1.6rem;
  font-weight: bold;
}

.button-mobile {
  background-color: #373737;
  color: #F4F4F4;
  width: 80%;
  text-align: center;
  padding: 8px 0;
}

.button-mobile:hover{
  background-color: #666666;
  color: white;
}
}

/*University Information Section Starts Here*/

.information {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}

.uni-info{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 32px 24px;
}

.uni-info img{
  width: 100%;
  flex-grow: 3;
}

.uni-info h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 32px 0;
  color: #373737;
}

.uni-info p {
  font-size: 1rem;
  font-weight: bold;
  line-height: 130%;
  color: #808080;
}

.uni-info .small-text {
  font-size: .75rem;
  font-weight: bold;
  color: #cccccc;
  padding: 32px 0;
}

.other-info{
  margin: 32px 0;
  width: 40%;
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e6e6e6;
}

.info {
  display: flex;
}

.info:nth-child(2n+0) {
  background-color: #e6e6e6;
}

.info-img {
  margin: 16px;
}

.info-img img {
  width: 10rem;
}

.text-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-info h3 {
  margin-bottom: 8px;
  color: #373737;
  font-size: 1.5rem;
  font-weight: bold;
}

.text-info span {
  margin-bottom: 8px;
  color: #373737;
}

#read {
  color: blue;
}

#read:hover {
  color: #C0B283;
}

.other-info-mobile {
  display: none;
}
/*Universsity information Mobile*/
@media only screen and (max-width: 480px) {
  .uni-info {
    display: none;
  }
  .other-info {
    display: none;
  }

  .other-info-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 16px 0 16px;
  }
  #read-mobile {
    color: blue;
    display: block;
    margin-top: 8px;
    margin-bottom: 32px;
  }
  #read-mobile:hover {
    color: #C0B283;
  }

  .info-img-mobile img {
    width: 100%;
  }
  .text-info-mobile{
    text-align: left;
    margin-left: 16px;
  }
  .text-info-mobile h3{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 16px;
    margin-bottom: 8px;
    color: #373737;
  }
  .text-info-mobile span {
    color: #666666;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 150%;
  }
}

/*Classes Section Starts Here*/
.classes {
  background-color: #e6e6e6;
  color: #373737;
}
.class-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.class {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-right: 32px;
  margin-bottom: 20px;
  background-color: #F4F4F4;
}

.class-img img{
  width: 100%;
}

.class span {
  display: block;
}

.class-text {
  margin: 16px;
  color: #373737;
}

.class-text h2 {
  margin-bottom: 16px;
  color: #1a1a1a;
  font-size: 2rem;
  font-weight: bold;
}

.class-text span {
  margin: 8px 0;
  font-weight: bold;
  color: #8c8c8c;
}

.class-text p {
  margin: 8px 0;
  color: #8c8c8c;
  font-weight: bold;
}

.class:hover {
  background-color: #d9d9d9;
  color: #373737;
}

.classes-mobile {
  display: none;
}

.classes h1 {
  text-align: center;
  padding: 32px;
  margin: 0px;
  font-weight: 800;
  font-size: 2.3rem;
}

/*Mobile Class Section*/
@media only screen and (max-width: 480px){
.classes {
  display: none;
}
.classes-mobile {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: white;

}
.class-text-mobile:hover {
  background-color:  #666666;
  color: white;
}
.class-text-mobile {
  margin: 0 16px 8px 16px;
  padding: 24px 0 24px 16px;
  background-color: #e6e6e6;
  font-size: 1.5rem;
  font-weight: bold;
  color: #8c8c8c;
}
#start {
  text-align: center;
  margin-bottom: 16px;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #4d4d4d;
}
}
/*Thesis Section Starts Here*/

.thesis-info {
  display: flex;
  padding-bottom: 2rem;
}

.thesis h1 {
  color: #373737;
}

.thesis-uni-info {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 16px;
  width: 70%;
}

.thesis-video video {
  width: 100%;
}

.thesis-video {
  margin-bottom: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.thesis-video-text {
  color: #373737;
  margin-left: 24px;
}

.thesis-video-text h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0;
  padding-bottom: 8px;
}

.thesis-video-text p {
  font-size: 1rem;
  font-weight: bold;
  line-height: 130%;
  color: #808080;
}

.thesis-sub {
  display: flex;
}

.thesis-sub:nth-child(2n+0) {
  background-color: #e6e6e6;
}

.thesis-sub-img {
  margin: 16px;
}
.thesis-sub-img img {
  width: 10rem;
}

.thesis-sub-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: #373737;
  margin: 2rem;
}

.thesis-sub-text h3 {
  font-size: 1.7rem;
  font-weight: bold;
  padding-bottom: 8px;
  margin: 0;
}

.thesis h1 {
  text-align: center;
  margin: 32px 0;
  color: #373737;
  font-size: 2.2rem;
  font-weight: bold;
  font-family: sans-serif;;
}

.thesis-mobile {
  display: none;
}

/*Sizing for Mobile Video*/
@media only screen and (max-width: 760px) {
  .thesis {
    display: none;
  }
  .thesis-mobile {
    display: flex;
    flex-direction: column;
  }
  .thesis-mobile h1 {
    color: #4d4d4d;
    text-align: center;
    margin: 32px 0;
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
  }
  .thesis-video-mobile video {
    width: 100%;
    margin-bottom: 24px;
  }
}

/*Footer Starts*/
footer {
  background-color: #e6e6e6;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  font-weight: bold;
}

.footer-lefthand {
  margin-left: 1.5rem;
}

.footer-righthand {
  text-align: right;
  margin-right: 2rem;
}

.footer-righthand span {
  margin-left: .5rem;
}

/*Removes Terms/Privacy Text*/
@media only screen and (max-width: 760px) {
  .footer-righthand {
    display: none;
  }
}
